@page "/settings"

<div class="row">
  <div class="col-md-6">
    <SettingsGeneral />
  </div>
  <div class="col-md-6">
    <SettingsWaifu2x/>
  </div>
  <div class="col-md-8">
    <SettingsFfmpg/>
  </div>
</div>