@page "/settings"

<div class="row">
  <div class="col-md-6">
    <SettingsGeneralComponent />
  </div>
  <div class="col-md-6">
    <SettingsWaifu2xComponent/>
  </div>
  <div class="col-md-8">
    <SettingsFfmpgComponent/>
  </div>
</div>